body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  background-color: rgba(55,55,55,0.95);
  width: 60%;
  height: 100%;
  text-align: center;
  margin: auto;
  border-radius: 4px;
  margin-top: 40px;
  border-color: #faa818;
  border-style: ridge;
  border-width: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  margin: auto;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
  max-width: 55%;
}

div#example {
  margin: auto;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
  max-width: 55%;
  background-color: rgba(55,55,55,0.95);
  max-width: 40%;
  color: white;
  border-radius: 4px;
  padding: 15px; 
  margin-bottom: 0px;
  position: relative;
}

span {
  font-style: italic;
  color: #faa818;
}

p#notice {
  font-size: 20px;
  max-width: 40%;
  margin-top: 3px;
  border-style: dashed;
  border-color: rgba(55,55,55,0.5);
  padding: 3px;
  display: none;
}

div#info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 8px;
  font-weight: 900;
  cursor: pointer;
}

img.brackets {
  max-height: 25px;
}

img.magnify {
  max-height: 60px;
}

div.input {
  margin-top: 25px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 100px;
}

label {
  margin-right: 12px;
}

textarea {
  font-size: 18px;
  color: rgb(55,55,55);
}

input[type=text] {
  font-size: 18px;
  color: rgb(55,55,55);
}

button {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 5px;
  width: 12%;
  height: 55px;
  font-size: 24px;
  background-color: rgba(55,55,55,0.85);
  color: #faa818;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: rgba(55,55,55,.90);
}

button:active {
  background-color: rgba(55,55,55,.95);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div#fields {
  margin: auto;
  margin-top: 20px;
  border-style: dashed;
  border-radius: 4px;
  border-color: rgba(250,168,24, 0.5);
  max-width: 55%;
  padding: 10px;
}

button#fill-in {
  margin-top: 20px;
  width: 20%;
}


/*
------------------------------
        RESPONSIVENESS
------------------------------
*/

@media screen and (max-width: 1024px) {
  h1 {
    width: 80%;
  }

  p {
    max-width: 78%;
  }

  div#example, p#notice {
    max-width: 65%;
  }
}

@media screen and (max-width: 760px) {
  button, button#fill-in {
    width: 30%;
  }
  div#fields {
    max-width: 65%;
  }
}

@media screen and (max-width: 540px) {
  button#fill-in {
    width: 45%;
  }
  div#fields {
    max-width: 85%;
  }

}

